@mixin button {
  border:             map-get($button-attributes, bordersize );
  border-radius:      map-get($button-attributes, borderradius);
  cursor:             pointer;
  padding:            map-get($button-attributes, padding );
  position:           relative;
  display:            inline-block;
  @include transition($dl-transition);

  &:disabled,
  &[disabled] {
    pointer-events: none;
  }
}

@mixin button-label {
  font-size:          map-get($button-attributes, labelfontsize);
}

@mixin button-icon {

}
