@mixin trailing-icons($type) {
  @if $type == 'textarea' {
    i {
      background: #fff;
      height: 44px;
      width: 32px;
      right: 30px;
      top: -22px;
      
      &:before {
        top: 14px;
        position: relative;
        left: 8px;
      }
    }
  }
  @else {
    i {
      background: #fff;
      height: 44px;
      width: 32px;
      right: 30px;
      top: -22px;
      
      &:before {
        top: 14px;
        position: relative;
        left: 8px;
      }
    }
  }
}

@mixin leading-icons($type) {
  &:not(.dlc-input-field--focused) { 
    i {
      top: -8px;
    }

    span {
      padding-left: 24px;
    }
  }

  input {
    padding-left: 4px;
  }
}