@mixin label-floating {
  top: 18px;
  width: 97%;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
  will-change: transform;
  @include transform-origin(left top);
  @include transition(color 150ms cubic-bezier(0.4, 0, 0.2, 1));
  @include transition(transform 150ms cubic-bezier(0.4, 0, 0.2, 1));
}

@mixin label-container {
  display: block;
  border-color: #dddddd;
  padding:  0 8px;
  height: 48px;
  position: relative;
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
  will-change: transform;
  @include transition(0.5s ease);
  @include transform(translateY(0));
}

@mixin label-container-bordered($color, $type) {
  @if $type == 'hover' or $type == 'focus' {
    border-color: $color;
    @include box-shadow(inset 0 0 0px 1px $color);
  }
  @else {
    border: thin solid;
    border-radius: 2px;
  }
}

@mixin label-container-underline($color, $type) {
  @if $type == 'hover' or $type == 'focus' {
    border-color: $color;
    @include box-shadow(inset 0px -1px 0px 0px $color);
  }
  @else {
    border: none;
    border-bottom: thin solid;
  }
}

@mixin label-container-span-focus {
  @include transform(translateY(-13px) scale(0.8));
}

@mixin label-container-textarea {
  height: auto;
  overflow: inherit;
  display: block;
}
