/*
  * These will pull in the correct attributes from which ever brand
  * folder you are using. No values should be placed in here. They should
  * all be comming from npm moduels.
*/

$button-attributes: (
  bordersize:     $dl-button-bordersize,
  padding:        $dl-button-padding,
  borderradius:   $dl-button-borderradius,
  labelfontsize:  $dl-button-labelfontsize 
);

$input-attributes: (
  containerwidth:   100%,
  inputwidth:       100%,
  containerheight:  $dl-text-field-height,
  borderbottom:     thin solid $dl-text-field-border-bottom-color,
  inputborder:      none,
  labelfocussize:   $dl-text-field-label-size-focus,
  labelsize:        $dl-text-field-label-size,
  labelcolor:       $dl-text-field-label-color,
  labelcolorfocus:  $dl-text-field-label-color-focus,
  containerborderradius: $dl-text-field-containerborderradius,
  inputfontsize:    $dl-text-field-inputfontsize,
  inputheight:      $dl-text-field-inputheight,
  containerpadding: $dl-text-field-containerpadding
);

$card-attributes: ();

// These should use variables but for the moment it won't
$fonts: ( 
  weight: (
    
  ),
  line-height: (

  ),
  font-size: (

  ),
  family: (
    noto: 'Noto',
    inter: 'Inter'
  )
);

$logos: (
  mapfre: (
    white: '',
    red: '',
    knockout: ''
  ),
  verti: (
    white: '',
    regular: '',
    knockout: '',
  ),
  placeholder: (
    1: 'http://placehold.it/100x100'
  ),
);

$icons: '';

$buttons-sizes: (
  size1: (
    width: 100px,
  ),
  size2: (
    width: 200px,
  ),
  size3: (
    width: 300px,
  ),
)
