$colors: (
  grey: (
    white: $white,
    1: $grey1,
    2: $grey2,
    3: $grey3,
    4: $grey4,
    5: $grey5,
    6: $grey6,
    7: $grey7,
    8: $grey8,
    black: $black,
  ),
  overlay: (
    white: $overlay-white,
    grey: $overlay-grey,
    black: $overlay-black 
  ),
  blue: (
    1: $blue1,
    2: $blue2,
    3: $blue3,
    4: $blue4,
    5: $blue5,
    6: $blue6
  ),
  green: (
    1: $green1,
    2: $green2,
    3: $green3,
    4: $green4
  ),
  red : (
    1: $red1,
    2: $red2,
    3: $red3,
    4: $red4,
    5: $red5,
    6: $red6
  ),
  yellow: (
    1: $yellow1,
    2: $yellow2,
    3: $yellow3,
    4: $yellow4
  ),
  orange: (
    1: $orange1,
    2: $orange2,
    3: $orange3,
    4: $orange4,
    5: $orange5
  ),
  purple: (
    1: $purple1,
    2: $purple2,
    3: $purple3,
    4: $purple4,
    5: $purple5,
    6: $purple6
  )
);

// Lightened Backgrounds
$background-colors: (
  primary: lighten(map-get($brand-primary, normal ), 30%),
  secondary: lighten(map-get($brand-secondary, normal ), 30%),
  trinary: lighten(map-get($brand-trinary, normal ), 30%),
);

// buttons
$buttons: (
  primary: (
    flat: (
      border-color: transparent,
      background-color: transparent,
      color: map-get($brand-primary, normal ),
      hover: (
        background-color: $grey1,
      ),
      disabled: (
        color: map-get($background-colors , 'primary' )
      )
    ),
    solid: (
      border-color: map-get($brand-primary, normal ),
      background-color: map-get($brand-primary, normal ),
      color: $white,
      hover: (
        box-shadow: 0 8px 17px 0 $black,
      ),
      disabled: (
        background-color: map-get($background-colors , 'primary' ),
        border-color: map-get($background-colors , 'primary' )
      )
    ),
    ghost: (
      border-color: map-get($brand-primary, normal ),
      background-color: transparent,
      color: map-get($brand-primary, normal ),
      hover: (
        background-color: map-get($brand-primary, normal ),
        color: $white
      ),
      disabled: (
        color: map-get($background-colors , 'primary' ),
        border-color: map-get($background-colors , 'primary' )
      )
    )
  ),
  secondary: (
    flat: (
      border-color: transparent,
      background-color: transparent,
      color: map-get($brand-secondary, normal ),
      hover: (
        background-color: $grey1,
      ),
      disabled: (
        color: map-get($background-colors , 'secondary' )
      )
    ),
    solid: (
      border-color: map-get($brand-secondary, normal ),
      background-color: map-get($brand-secondary, normal ),
      color: $white,
      hover: (
        box-shadow: 0 8px 17px 0 $black,
      ),
      disabled: (
        background-color: map-get($background-colors , 'secondary' ),
        border-color: map-get($background-colors , 'secondary' )
      )
    ),
    ghost: (
      border-color: map-get($brand-secondary, normal ),
      background-color: transparent,
      color: map-get($brand-secondary, normal ),
      hover: (
        background-color: map-get($brand-secondary, normal ),
        color: $white
      ),
      disabled: (
        color: map-get($background-colors , 'secondary' ),
        border-color: map-get($background-colors , 'secondary' )
      )
    )
  ),
  trinary: (
    flat: (
      border-color: transparent,
      background-color: transparent,
      color: map-get($brand-trinary, normal ),
      hover: (
        background-color: $grey1,
      ),
      disabled: (
        color: map-get($background-colors , 'trinary' )
      )
    ),
    solid: (
      border-color: map-get($brand-trinary, normal ),
      background-color: map-get($brand-trinary, normal ),
      color: $white,
      hover: (
        box-shadow: 0 8px 17px 0 $black,
      ),
      disabled: (
        background-color: map-get($background-colors , 'trinary' ),
        border-color: map-get($background-colors , 'trinary' )
      )
    ),
    ghost: (
      border-color: map-get($brand-trinary, normal ),
      background-color: transparent,
      color: map-get($brand-trinary, normal ),
      hover: (
        background-color: map-get($brand-trinary, normal ),
        color: $white
      ),
      disabled: (
        color: map-get($background-colors , 'trinary' ),
        border-color: map-get($background-colors , 'trinary' )
      )
    )
  )
);
