//defaults
$dl-default-font-size: 16px;
$dl-default-padding:   16px;

// buttons
$dl-button-bordersize:     2px solid !default;
$dl-button-padding:        8px !default;
$dl-button-borderradius:   5px !default;
$dl-button-labelfontsize:  14px !default;

// transitions
$dl-transition: 1s ease ;

// text-fields
$dl-text-field-height: 56px !default;
$dl-text-field-border-bottom-color: #333 !default;
$dl-text-field-containerborderradius: 0 !default;
$dl-text-field-label-size-focus: 10px !default;
$dl-text-field-label-size: 14px !default;
$dl-text-field-label-color: #333 !default;
$dl-text-field-label-color-focus: #ccc  !default;
$dl-text-field-inputfontsize: $dl-default-font-size !default;
$dl-text-field-inputheight: 56px !default;  //remove
$dl-text-field-containerpadding: 16px 8px 6px !default;

// Cards


// grids