<h1>Animation</h1>
<div>
  <h2>Ripple &mdash; <small>Can be used with other elements</small></h2>
  <button class="dlc-button dlu-ripple dlu-ripple--primary">
    <span class="dlc-button__label">Primary</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--secondary">
    <span class="dlc-button__label">Secondary</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--trinary">
    <span class="dlc-button__label">Trinary</span>
  </button>

  <button class="dlc-button dlc-button--trinary-solid dlu-ripple dlu-ripple--light">
    <span class="dlc-button__label">Light</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--dark">
    <span class="dlc-button__label">Dark</span>
  </button>
</div>

<div>
  <h2>Line Ripple</h2>
  <div class="dlc-input-field">
    <label class="dlc-input-field__input-container dlc-input-field--underline dlu-lineripple">
      <span class="dlc-input-field__label">underline</span>
      <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    </label>
  </div>
  
  <div class="dlc-input-field">
    <label class="dlc-input-field__input-container dlc-input-field--bordered dlu-lineripple">
      <span class="dlc-input-field__label">bordered</span>
      <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    </label>
  </div>
</div>

<div>
  <h2>Line Movement</h2>
</div>