
<h1>Buttons</h1>

<div>
  <h2>Inputs that are treated like buttons</h2>
  <h3>File</h3>

  <label class="dlc-button dlc-button__file-label dlc-button--primary dlu-ripple dlu-ripple--primary">
    <span class="dlc-button__label">File Input</span>
    <input class="dlc-button__file dlc-button__input" type="file" />
  </label>

  <h3>Submit input type</h3>
  <label class="dlc-button dlc-button__file-label dlc-button--secondary dlu-ripple dlu-ripple--secondary">
    <span class="dlc-button__label">Submit Input</span>
    <input class="dlc-button__submit dlc-button__input" type="submit" />
  </label>

  <h3>Reset input type</h3>
  <label class="dlc-button dlc-button__file-label dlc-button--secondary dlu-ripple dlu-ripple--secondary">
    <span class="dlc-button__label">Submit Input</span>
    <input class="dlc-button__reset dlc-button__input" type="reset" />
  </label>

</div>

<div>
  <h2>Types</h2>
  <div>
    <h3>Primary</h3>
    <div>
      <h4>Normal, focus, hover</h4>
      <button class="dlc-button dlc-button--primary-solid dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Primary Solid</span>
      </button>

      <button class="dlc-button dlc-button--primary-flat dlu-ripple dlu-ripple--primary">
        <span class="dlc-button__label">Primary Flat</span>
      </button>

      <button class="dlc-button dlc-button--primary-ghost dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Primary Ghost</span>
      </button>
    </div>
    <div>
      <h4>Disabled</h4>
      <button class="dlc-button dlc-button--primary-solid dlc-button--primary-solid--disabled dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Primary Solid</span>
      </button>

      <button class="dlc-button dlc-button--primary-flat dlu-ripple dlu-ripple--primary" disabled="disabled">
        <span class="dlc-button__label">Primary Flat</span>
      </button>

      <button class="dlc-button dlc-button--primary-ghost dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Primary Ghost</span>
      </button>
    </div>
  </div>
  <div>
    <h3>Secondary</h3>
    <div>
      <h4>Normal, focus, hover</h4>
      <button class="dlc-button dlc-button--secondary-solid dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Secondary Solid</span>
      </button>
  
      <button class="dlc-button dlc-button--secondary-flat dlu-ripple dlu-ripple--secondary">
        <span class="dlc-button__label">Secondary Flat</span>
      </button>
  
      <button class="dlc-button dlc-button--secondary-ghost dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Secondary Ghost</span>
      </button>
    </div>
    <div>
      <h4>Disabled</h4>
      <button class="dlc-button dlc-button--secondary-solid dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Secondary Solid</span>
      </button>
  
      <button class="dlc-button dlc-button--secondary-flat dlu-ripple dlu-ripple--secondary" disabled="disabled">
        <span class="dlc-button__label">Secondary Flat</span>
      </button>
  
      <button class="dlc-button dlc-button--secondary-ghost dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Secondary Ghost</span>
      </button>
    </div>
  </div>
  <div>
    <h3>Trinary</h3>
    <div>
      <h4>Normal, focus, hover</h4>
      <button class="dlc-button dlc-button--trinary-solid dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Trinary Solid</span>
      </button>
  
      <button class="dlc-button dlc-button--trinary-flat dlu-ripple dlu-ripple--trinary">
        <span class="dlc-button__label">Trinary Flat</span>
      </button>
  
      <button class="dlc-button dlc-button--trinary-ghost dlu-ripple dlu-ripple--light">
        <span class="dlc-button__label">Trinary Ghost</span>
      </button>
    </div>
    <div>
      <h4>Disabled</h4>
      <button class="dlc-button dlc-button--trinary-solid dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Trinary Solid</span>
      </button>
  
      <button class="dlc-button dlc-button--trinary-flat dlu-ripple dlu-ripple--trinary" disabled="disabled">
        <span class="dlc-button__label">Trinary Flat</span>
      </button>
  
      <button class="dlc-button dlc-button--trinary-ghost dlu-ripple dlu-ripple--light" disabled="disabled">
        <span class="dlc-button__label">Trinary Ghost</span>
      </button>
    </div>
  </div>
</div>

<div>
  <h2>Sizes</h2>
  <div>
    <button class="dlc-button dlu-ripple dlu-ripple--primary dlc-button--size1">
      <span class="dlc-button__label">Variable/Default Size</span>
    </button>
    <button class="dlc-button dlu-ripple dlu-ripple--primary dlc-button--size1">
      <span class="dlc-button__label">Size 1</span>
    </button>
    <button class="dlc-button dlu-ripple dlu-ripple--primary dlc-button--size2">
      <span class="dlc-button__label">Size 2</span>
    </button>
    <button class="dlc-button dlu-ripple dlu-ripple--primary dlc-button--size3">
      <span class="dlc-button__label">Size 3</span>
    </button>
  </div>
</div>

<div>
  <h2>Ripple <br /> <small>Can be used with other elements</small></h2>
  <button class="dlc-button dlu-ripple dlu-ripple--primary">
    <span class="dlc-button__label">Primary</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--secondary">
    <span class="dlc-button__label">Secondary</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--trinary">
    <span class="dlc-button__label">Trinary</span>
  </button>

  <button class="dlc-button dlc-button--trinary-solid dlu-ripple dlu-ripple--light">
    <span class="dlc-button__label">Light</span>
  </button>

  <button class="dlc-button dlu-ripple dlu-ripple--dark">
    <span class="dlc-button__label">Dark</span>
  </button>
</div>
