
<button class="dlc-button dlc-button--primary dlu-ripple dlu-ripple--primary">
  <span class="dlc-button__label">Primary</span>
</button>

<button class="dlc-button dlc-button--secondary dlu-ripple dlu-ripple--secondary">
  <span class="dlc-button__label">Secondary</span>
</button>

<br /><br />
<br /><br />
Technically an input but this is being treated as a button. 
<br />

file 
<br />
<label class="dlc-button dlc-button__file-label dlc-button--primary dlu-ripple dlu-ripple--primary">
  <span class="dlc-button__label">File Input</span>
  <input class="dlc-button__file dlc-button__input" type="file" />
</label>
<br /><br />
<br /><br />

Submit input type<br />
<label class="dlc-button dlc-button__file-label dlc-button--secondary dlu-ripple dlu-ripple--secondary">
    <span class="dlc-button__label">Submit Input</span>
    <input class="dlc-button__submit dlc-button__input" type="submit" />
  </label>
