<h1>Other Form Inputs</h1>

<div>
  <h2>Radio</h2>
</div>

<div>
  <h2>CheckMark</h2>
</div>

<div>
  <h2>Switch</h2>
  <div class="dl-switch">
    <div class="dl-switch__track"></div>
    <div class="dl-switch__thumb-underlay">
      <div class="dl-switch__thumb">
        <input type="checkbox" id="switch" class="dl-switch__native-control" role="switch" />
      </div>
    </div>
  </div>
  <label for="switch">off/on</label>
    
  <br /><br />
  <br /><br />
  MDC will remove
  <div class="mdc-switch">
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__thumb-underlay">
      <div class="mdc-switch__thumb">
          <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch" />
      </div>
    </div>
  </div>
  <label for="basic-switch">off/on</label>
</div>

<div>
  <h2>Select/option</h2>
</div>

<div>
  <h2>Dropdown</h2>
</div>

<div>
  <h2>Range</h2>
</div>

<div>
  <h2>Progress</h2>
</div>

<div>
  <h2>Meter</h2>
</div>

