<h1>Navs</h1>

<div>
  <h2>Side Nav</h2>
  <div>

  </div>
</div>

<div>
  <h2>Header Nav</h2>
  <div>

  </div>
</div>

<div>
  <h2>Footer Nav</h2>
  <div>

  </div>
</div>

<div>
  <h2>Tab Bar Nav</h2>
  <div>
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" id="mdc-tab-1">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">Home</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-2">
              <span class="mdc-tab__content"><span class="mdc-tab__text-label">Merchandise</span></span>
              <span class="mdc-tab-indicator"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-3">
              <span class="mdc-tab__content"><span class="mdc-tab__text-label">About Us</span></span>
              <span class="mdc-tab-indicator"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Tab Bar Show/Hide</h2>
  <div>
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" id="mdc-tab-1b">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">Home</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-2b">
              <span class="mdc-tab__content"><span class="mdc-tab__text-label">Merchandise</span></span>
              <span class="mdc-tab-indicator"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-3b">
              <span class="mdc-tab__content"><span class="mdc-tab__text-label">About Us</span></span>
              <span class="mdc-tab-indicator"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span>
              <span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>