Textarea

<div class="dlc-input-field dlc-input-field--textarea">
  <label class="dlc-input-field__textarea-container">
    <span class="dlc-input-field__label">meh</span>
    <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
  </label>
</div>

<div class="dlc-input-field dlc-input-field--textarea">
  <label class="dlc-input-field__textarea-container">
    <span class="dlc-input-field__label">meh</span>
    <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
  </label>
</div>

<div class="dlc-input-field dlc-input-field--textarea dlu-states--error">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label">meh</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
    </label>
  </div>
  
  <div class="dlc-input-field dlc-input-field--textarea dlu-states--error">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label">meh</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
    </label>
  </div>

  <div class="dlc-input-helper dlc-input-field--textarea">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
    </label>
    <div class="dlc-input-helper__helper">
      Error Text
    </div>
  </div>

  <div class="dlc-input-helper dlc-input-field--textarea">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
    </label>
    <div class="dlc-input-helper__helper">
      Error Text
    </div>
  </div>

  <div class="dlc-input-helper dlc-input-field--textarea dlu-states--error">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
    </label>
    <div class="dlc-input-helper__helper">
      Error Text
    </div>
  </div>

  <div class="dlc-input-helper dlc-input-field--textarea dlu-states--error">
    <label class="dlc-input-field__textarea-container">
      <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
    </label>
    <div class="dlc-input-helper__helper">
      Error Text
    </div>
  </div>
  <br /><br />
  Inline <br />

  <div class="dlc-input-field dlc-input-field--textarea dlc-input-field--inline">
    <label class="dlc-input-field__textarea-container dlu--inline">
      <span class="dlc-input-field__label">meh</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
    </label>
  </div>

  <div class="dlc-input-field dlc-input-field--textarea dlc-input-field--inline">
    <label class="dlc-input-field__textarea-container dlu--inline">
      <span class="dlc-input-field__label">meh2</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--bordered"></textarea>
    </label>
  </div>
  <br />
  <div class="dlc-input-field dlc-input-field--textarea dlc-input-field--inline">
    <label class="dlc-input-field__textarea-container dlu--inline">
      <span class="dlc-input-field__label">meh</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
    </label>
  </div>

  <div class="dlc-input-field dlc-input-field--textarea dlc-input-field--inline">
    <label class="dlc-input-field__textarea-container dlu--inline">
      <span class="dlc-input-field__label">meh2</span>
      <textarea  class="dlc-input-field__textarea dlc-input-field--underline"></textarea>
    </label>
  </div>
  
  <br /><br />


  

 

<br /><br />
<br /><br />