


<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--underline">
    <span class="dlc-input-field__label">underline</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label">bordered</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>
</div>

<br /><br />
<br /><br />

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered dlc-input-field--with-leading-icon">
      <i class="fas fa-cat"></i>
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered dlc-input-field--with-trailing-icon">
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    <i class="fas fa-cat"></i>
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--underline dlc-input-field--with-leading-icon">
      <i class="fas fa-cat"></i>
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--underline dlc-input-field--with-trailing-icon">
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    <i class="fas fa-cat"></i>
  </label>
</div>

<br /><br />
<br /><br />

<div class="dlc-input-field dlc-input-field--disabled">
  <label class="dlc-input-field__input-container dlc-input-field--underline" disabled>
    <span class="dlc-input-field__label">Disabled </span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" disabled />
  </label>
</div>

<div class="dlc-input-helper dlc-input-field--disabled">
  <label class="dlc-input-field__input-container dlc-input-field--bordered" disabled>
    <span class="dlc-input-field__label">Disabled </span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" disabled />
  </label>
</div>

<br /><br />
<br /><br />

<div class="dlc-input-helper dlu-states__error">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
    <input  class="dlc-input-field__input dlc-input-field__text" id="bpolicy-number" type="text" />
  </label>
  <div class="dlc-input-helper__helper">
    Error Text
  </div>
</div>

<div class="dlc-input-helper dlu-states__error">
  <label class="dlc-input-field__input-container dlc-input-field--underline">
    <span class="dlc-input-field__label" for="policy-number">Policy Number asdfasdfsadfsdf asdfasdf asdf </span>
    <input  class="dlc-input-field__input dlc-input-field__text" id="apolicy-number" type="text" />
  </label>
  <div class="dlc-input-helper__helper">
    Error Text
  </div>
</div>

<br /><br />
<br /><br />
No "label"
<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <input  class="dlc-input-field__input dlc-input-field--no-label" type="text" />
  </label>
</div>

<br /><br />
<br /><br />

inline <br>
<div class="dlc-input-field dlc-input-field--inline">
  
  <label class="dlc-input-field__input-container dlc-input-field--underline dlu--inline">
    <span class="dlc-input-field__label">One</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>

  <label class="dlc-input-field__input-container dlc-input-field--bordered dlu--inline">
    <span class="dlc-input-field__label">Two </span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>
</div>

<div class="dlc-input-field dlc-input-field--inline">
  <label class="dlc-input-field__input-container dlc-input-field--underline dlu--inline">
    <span class="dlc-input-field__label">Three</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>


  <label class="dlc-input-field__input-container dlc-input-field--bordered dlu--inline">
    <span class="dlc-input-field__label">Four</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>

  <button class="dlc-button dlc-button--secondary dlu-ripple dlu-ripple--secondary dlu--inline">
    <span class="dlc-button__label">Button</span>
  </button>
</div>

<br />

<div class="dlc-input-field dlc-input-field--inline">
  <label class="dlc-input-field__input-container dlc-input-field--bordered dlc-input-field--with-leading-icon dlu--inline">
      <i class="fas fa-cat"></i>
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>

  <label class="dlc-input-field__input-container dlc-input-field--bordered dlc-input-field--with-trailing-icon dlu--inline">
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    <i class="fas fa-cat"></i>
  </label>
</div>

<div class="dlc-input-field dlc-input-field--inline">
  <label class="dlc-input-field__input-container dlc-input-field--underline dlc-input-field--with-leading-icon dlu--inline">
      <i class="fas fa-cat"></i>
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
  </label>

  <label class="dlc-input-field__input-container dlc-input-field--underline dlc-input-field--with-trailing-icon dlu--inline">
    <span class="dlc-input-field__label">Name</span>
    <input  class="dlc-input-field__input dlc-input-field__text" type="text" />
    <i class="fas fa-cat"></i>
  </label>

  <button class="dlc-button dlc-button--secondary dlu-ripple dlu-ripple--secondary dlu--inline">
    <span class="dlc-button__label">Button</span>
  </button>
</div>

<br /><br />
<br /><br />

Other fields
<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label">Password</span>
    <input class="dlc-input-field__input dlc-input-field__password" type="password" />
  </label>
</div>



<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered dlc-input-field--focused">
    <span class="dlc-input-field__label">Date</span>
    <input class="dlc-input-field__input dlc-input-field__date" type="date" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label">Number </span>
    <input class="dlc-input-field__input dlc-input-field__number" type="number" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label">Phone </span>
    <input class="dlc-input-field__input dlc-input-field__phone" type="phone" />
  </label>
</div>

<div class="dlc-input-field">
  <label class="dlc-input-field__input-container dlc-input-field--bordered">
    <span class="dlc-input-field__label">Email </span>
    <input class="dlc-input-field__input dlc-input-field__email" type="email" />
  </label>
</div>
  
File is under buttons