/*
  div Helpers
  Atom
  Utility

*/


.dlu {
  &--inline {
    display: inline-block;
  }

  &--block {
    display: block;
  }

  &--float-right {
    float: right;
  }

  &--float-left {
    float: left;
  }
}