/*
  Label and Input
  Molecule
  Component

  A component for the label and input used together.

  Label, input, helper text
  Organism
  component

  A component that includes the label and input, but also helper text

  This is organized by type. Input, textarea, etc
*/

.dlc-input-field {
  @include text-field();

  &__input-container {
    @extend .dlc-label__container;

    i {
      position: relative;
    }
  }

  &__input { 
    @extend .dlc-input__input;
  }

  &__textarea-container {
    @extend .dlc-label__textarea-container;
  }

  &__textarea {
    @extend .dlc-input__textarea;
  }

  &--textarea {
    @include label-container-textarea 
  }

  &__label {
    @extend .dlc-label__floating;
  }

  &--bordered {
    @extend .dlc-label--bordered;
  }

  &--underline {
    @extend .dlc-label--underline;
  }

  &--disabled {
    @include input-disabled;
  }

  &--inline {
    clear: both;
    height: auto;

    & > * {
      @extend .dlu--inline;
    }

    .dlc-button {
      vertical-align: bottom;
      margin-bottom: 4px;
    }
  }

  &--with-leading-icon {
    @include leading-icons('input');
  }

  &--with-trailing-icon {
    @include trailing-icons('input');
  }

  &--no-label {
    padding: 0;
  }

  &__input-container:focus,
  &__input-container:focus-within,
  &--focused {
    @extend .dlc-label--focus-container;
  }
}
